@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

* {
  box-sizing: border-box;
}

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 65px;
  font-family: Roboto;
  margin: 40px;
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: cursive;
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 11px;
  padding: 25px;
}

/* table */

table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

img {
  width: 70%;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}


/* Column Size for thead */

th.ingredients, th.preparation {
  width: 30%;
}

tr.listHead {background-color: white;}

tr.tableData:nth-child(odd),tr.tableForm {background-color: #f0e7ba}


/* Column size for tbody */

td.ingredients, td.preparation {
  width: 30%
}

#ingredients, #preparation {
  width: 30%;
  height: 35px
}

#name, #cuisine, #photo, #actions {
  width: 50%
}

tr.tableForm {
  padding: 0px;
}

